WindowsFormsApplication1/Web References/ERP.Demo/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmployees">
        <s:complexType />
      </s:element>
      <s:element name="getEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateEployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employeeDT">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateEployeeResponse">
        <s:complexType />
      </s:element>
      <s:element name="getEmployeeRelatives">
        <s:complexType />
      </s:element>
      <s:element name="getEmployeeRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeeRelativesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmployeeAbscence">
        <s:complexType />
      </s:element>
      <s:element name="getEmployeeAbscenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeeAbscenceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmployeeAbscence2004">
        <s:complexType />
      </s:element>
      <s:element name="getEmployeeAbscence2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeeAbscence2004Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMostSick">
        <s:complexType />
      </s:element>
      <s:element name="getMostSickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMostSickResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQualafications">
        <s:complexType />
      </s:element>
      <s:element name="getQualaficationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQualaficationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getKeys">
        <s:complexType />
      </s:element>
      <s:element name="getKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getKeysResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIndexes">
        <s:complexType />
      </s:element>
      <s:element name="getIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIndexesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTableConstraints">
        <s:complexType />
      </s:element>
      <s:element name="getTableConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTableConstraintsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTables">
        <s:complexType />
      </s:element>
      <s:element name="getTablesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTablesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getColumns">
        <s:complexType />
      </s:element>
      <s:element name="getColumnsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getColumnsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:getEmployees" />
  </wsdl:message>
  <wsdl:message name="getEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="updateEployeeSoapIn">
    <wsdl:part name="parameters" element="tns:updateEployee" />
  </wsdl:message>
  <wsdl:message name="updateEployeeSoapOut">
    <wsdl:part name="parameters" element="tns:updateEployeeResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeeRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:getEmployeeRelatives" />
  </wsdl:message>
  <wsdl:message name="getEmployeeRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeeRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeeAbscenceSoapIn">
    <wsdl:part name="parameters" element="tns:getEmployeeAbscence" />
  </wsdl:message>
  <wsdl:message name="getEmployeeAbscenceSoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeeAbscenceResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeeAbscence2004SoapIn">
    <wsdl:part name="parameters" element="tns:getEmployeeAbscence2004" />
  </wsdl:message>
  <wsdl:message name="getEmployeeAbscence2004SoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeeAbscence2004Response" />
  </wsdl:message>
  <wsdl:message name="getMostSickSoapIn">
    <wsdl:part name="parameters" element="tns:getMostSick" />
  </wsdl:message>
  <wsdl:message name="getMostSickSoapOut">
    <wsdl:part name="parameters" element="tns:getMostSickResponse" />
  </wsdl:message>
  <wsdl:message name="getQualaficationsSoapIn">
    <wsdl:part name="parameters" element="tns:getQualafications" />
  </wsdl:message>
  <wsdl:message name="getQualaficationsSoapOut">
    <wsdl:part name="parameters" element="tns:getQualaficationsResponse" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapIn">
    <wsdl:part name="parameters" element="tns:getKeys" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapOut">
    <wsdl:part name="parameters" element="tns:getKeysResponse" />
  </wsdl:message>
  <wsdl:message name="getIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:getIndexes" />
  </wsdl:message>
  <wsdl:message name="getIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:getIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="getTableConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:getTableConstraints" />
  </wsdl:message>
  <wsdl:message name="getTableConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:getTableConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="getTablesSoapIn">
    <wsdl:part name="parameters" element="tns:getTables" />
  </wsdl:message>
  <wsdl:message name="getTablesSoapOut">
    <wsdl:part name="parameters" element="tns:getTablesResponse" />
  </wsdl:message>
  <wsdl:message name="getColumnsSoapIn">
    <wsdl:part name="parameters" element="tns:getColumns" />
  </wsdl:message>
  <wsdl:message name="getColumnsSoapOut">
    <wsdl:part name="parameters" element="tns:getColumnsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input message="tns:getEmployeesSoapIn" />
      <wsdl:output message="tns:getEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateEployee">
      <wsdl:input message="tns:updateEployeeSoapIn" />
      <wsdl:output message="tns:updateEployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRelatives">
      <wsdl:input message="tns:getEmployeeRelativesSoapIn" />
      <wsdl:output message="tns:getEmployeeRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence">
      <wsdl:input message="tns:getEmployeeAbscenceSoapIn" />
      <wsdl:output message="tns:getEmployeeAbscenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence2004">
      <wsdl:input message="tns:getEmployeeAbscence2004SoapIn" />
      <wsdl:output message="tns:getEmployeeAbscence2004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMostSick">
      <wsdl:input message="tns:getMostSickSoapIn" />
      <wsdl:output message="tns:getMostSickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQualafications">
      <wsdl:input message="tns:getQualaficationsSoapIn" />
      <wsdl:output message="tns:getQualaficationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input message="tns:getKeysSoapIn" />
      <wsdl:output message="tns:getKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <wsdl:input message="tns:getIndexesSoapIn" />
      <wsdl:output message="tns:getIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTableConstraints">
      <wsdl:input message="tns:getTableConstraintsSoapIn" />
      <wsdl:output message="tns:getTableConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <wsdl:input message="tns:getTablesSoapIn" />
      <wsdl:output message="tns:getTablesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getColumns">
      <wsdl:input message="tns:getColumnsSoapIn" />
      <wsdl:output message="tns:getColumnsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="http://tempuri.org/getEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEployee">
      <soap:operation soapAction="http://tempuri.org/updateEployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRelatives">
      <soap:operation soapAction="http://tempuri.org/getEmployeeRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence">
      <soap:operation soapAction="http://tempuri.org/getEmployeeAbscence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence2004">
      <soap:operation soapAction="http://tempuri.org/getEmployeeAbscence2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostSick">
      <soap:operation soapAction="http://tempuri.org/getMostSick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualafications">
      <soap:operation soapAction="http://tempuri.org/getQualafications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://tempuri.org/getKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <soap:operation soapAction="http://tempuri.org/getIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableConstraints">
      <soap:operation soapAction="http://tempuri.org/getTableConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <soap:operation soapAction="http://tempuri.org/getTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumns">
      <soap:operation soapAction="http://tempuri.org/getColumns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap12:operation soapAction="http://tempuri.org/getEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEployee">
      <soap12:operation soapAction="http://tempuri.org/updateEployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeRelatives">
      <soap12:operation soapAction="http://tempuri.org/getEmployeeRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence">
      <soap12:operation soapAction="http://tempuri.org/getEmployeeAbscence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeeAbscence2004">
      <soap12:operation soapAction="http://tempuri.org/getEmployeeAbscence2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMostSick">
      <soap12:operation soapAction="http://tempuri.org/getMostSick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQualafications">
      <soap12:operation soapAction="http://tempuri.org/getQualafications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap12:operation soapAction="http://tempuri.org/getKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexes">
      <soap12:operation soapAction="http://tempuri.org/getIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTableConstraints">
      <soap12:operation soapAction="http://tempuri.org/getTableConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTables">
      <soap12:operation soapAction="http://tempuri.org/getTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getColumns">
      <soap12:operation soapAction="http://tempuri.org/getColumns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50821/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50821/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>